body {
  background-color: aliceblue;
  background-image: url(./img/florian-henkel.jpg);
  
}
.navy {
    background-color: navy;
}

.grey {
    background-color: lightslategrey;

}

.blue {
    background-color: lightskyblue;
}

.white {
    background-color: whitesmoke;

}

.cyan {
    background-color: darkturquoise;
}

.purple {
    background-color: plum;
}

.florian {
    background-image: url(./img/florian-henkel.jpg);
    /* width: 440px; */
    text-align: justify;
    color: whitesmoke;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.saskia {
    background-image: url(./img/saskia-with-boy.jpg);
    background-position: -10px;
    text-align: center;
    width: 100%;
}

.content {
    position: relative;
}

img {
    width: 80%;
    padding: 10%;
}

h2 {
  text-align: center;
  color: whitesmoke;
  font-family: monospace;
  padding: 10%;
}

#justSquare {
  padding: 20%;
  text-align: justify;
}

.opacity {
  opacity: .5;
}

#vertiCenter1,
#vertCenter2,
#vertHorizCenter1 {
    height: 200px;
}

#vertHorizCenter2 {
    height: 400px;
}

#vertCenter1 img {
    position: absolute;
    height: 100px; /*because we need to calculate the margin */
    margin-top: -50px;
    top: 50%;
    display: block;
}

#Lorem1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px; /* Margins affect the centering in this method! */
}


#vertHorizCenter1 h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;

   /* Half the width accounting for padding and border */
    margin-left: -159px;
    width: 258px;

    /*Half the height accounting for padding and border */
    margin-top: -44px;
    height: 28px;

    background-color: beige;
}

#vertHorizCenter2 p {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    margin: 0px;
    text-align: justify;
       
}

/* .flex-center-vertically {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
  }

  .ghost-center {
    position: relative;
  }

  .ghost-center::before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 1%;
    vertical-align: middle;
  }

  .ghost-center p {
    display: inline-block;
    vertical-align: middle;
  } */



  /* UNKNOWN HEIGHT AND WIDTH */
/*
  .parent {
    position: relative;
  }
  .child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  CSS Result
  EDIT ON
   body {
    background: #f06d06;
    font-size: 80%;
    padding: 20px;
  }
  
  main {
    position: relative;
    background: white;
    height: 200px;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    resize: both;
    overflow: auto;
  }
  
  main div {
    background: black;
    color: white;
    width: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    resize: both;
    overflow: auto;
  }*/