body { 
    margin: 0;
}

.container {
    background-color: lightgrey;
    font-family: Cardo-Regular;
}


.red {
    background-color: lightcoral;
}

.blue {
    background-color: powderblue;
}

.green {
    background-color: greenyellow;
}

.yellow {
    background-color: gold;
}

.cyan {
    background-color: darkturquoise;
}

.purple {
    background-color: plum;
}


.floater-section {
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.clearfix {
    clear: both;
}

.image { width: 100%;

}

    @font-face {
        font-family: 'Cardo-Regular', serif;
        src: url ('fonts/Cardo-Regular.ttf');
    }

    @font-face {
        font-family: 'Cardo-Italic', serif;
        src: url ('fonts/Cardo-Italic.ttf');
    }

    @font-face {
        font-family: 'Cardo-Bold', serif;
        src: url ('fonts/Cardo-Bold.ttf');
    }


/****************Naviagtion Bar******************/
h1 {
    font-family: Cardo-Italic, serif;
    text-align: center;
    font-size: 20;
    color: black;
}

nav.navbar {
    background-color: rgba(218, 165, 32, 0.336);
    width: 100%;
    padding: 10px 0px;
    float: left;
}

nav.navbar a { 
    font-size: 22px;
    text-decoration: none;
    color: black;
    line-height: 36px;
}

nav.navbar ul {
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

nav.navbar li {
    border-bottom: 2px red solid;
    font-family: Cardo-Italic, serif;
    font-weight: 100;
}

nav.navbar li:last-child {
    border-bottom: none;
    border-right: none;
}

.active {
        font-family: Cardo-Bold, serif; 
}    
/***************SMALL SCREENS*****************/
@media (min-width: 450px) {
    .small-width-25 {
        width: 25%;
    }

    .small-width-33 {
        width: 33.333%;
    }

    .small-width-50 {
        width: 50%;
    }

    .small-width-100 {
        width: 100%;
    } 
}


/***************MEDIUM SCREENS*****************/
@media (min-width: 768px) {
    .med-width-25 {
        width: 25%;
    }
    
    .med-width-33 {
        width: 33.3333%;
    }

    .med-width-50 {
        width: 50%;
    }

    .med-width-100 {
        width: 100%;
    }
}


/***************LARGE SCREENS*****************/
@media (min-width: 992px) {
    .large-width-25 {
        width: 25%;
    }
    
    .large-width-33 {
        width: 33.3333%;
    }

    .large-width-50 {
        width: 50%;
    }

    .large-width-100 {
        width: 100%;
    }

    @media(min-width: 992px) {
        .container{ 
            background-color: rgba(218, 165, 32, 0.336);
            float: left;
        }
}