

@font-face {
    font-family: 'Quicksand-Light', serif;
    src: url ('./fonts/Quicksand-Light.ttf');
}


@font-face {
    font-family: 'Quicksand-Regular', serif;
    src: url ('./fonts/Quicksand-Regular.ttf');
}

@font-face {
    font-family: 'Quicksand-Medium', sans-serif;
    src: url ('./fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'Quicksand-Bold', sans-serif;
    src: url ('/fonts/Quicksand-Bold.ttf');
}

@font-face {
    font-family: 'Mrs-Saint-Delafield', cursive;
    src: url ('./fonts/MrsSaintDelafield-Regular.ttf');
}

@font-face {
    font-family: 'Cardo-Regular', serif;
    src: url ('./fonts/Cardo-Regular.ttf');
}

@font-face {
    font-family: 'Cardo-Italic', serif;
    src: url ('./fonts/Cardo-Italic.ttf');
}

@font-face {
    font-family: 'Cardo-Bold', serif;
    src: url ('/fonts/Cardo-Bold.ttf');
}

h1 {
    font-family: 'Quicksand-Bold', cursive;
    color: black;
    font-size: 36pt;
    display: center;

} 

h2 {
    font-family: 'Quicksand-Medium', serif;
}

body {
    kerning: 22pt;
}

.poem-content {
    text-align: center;
    font-size: 18pt;
    font-family: 'Quicksand-Light', serif;
    

}


/************ NAVBAR ************/


nav.navbar li {
    font-family: 'Cardo-Regular', serif;
    font-weight: 100;
    background-color: 0%;

}

.active {
    font-family: 'Cardo-Italic', serif;
    font-weight: 200;
} 


/******** PAGE ONE STYLES ********/

.page-one {
    background-color: lightskyblue;
}


/******** PAGE TWO STYLES ********/

.page-two {
    background-color: aquamarine;
}


/******** PAGE THREE STYLES ********/

body.page-three {
    font-family: 'JosefinSlab-Regular', serif;
    background-image: linear-gradient(skyblue, seagreen, midnightblue);
}


#josefin-slab-regular {
    font-family: 'JosefinSlab-Regular', serif;

}

#josefin-slab-italic {
    font-family: 'JosefinSlab-Italic', serif;
    text-shadow: 0 0 3px white;

}

#light-grey {
    color: lightgray
}