body { 
    margin: 0px;
}


.container {
    background-color:paleturquoise;
    width: 100%;
    min-height: 300px;

}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 24;
}

nav.navbar {
    background-color: seagreen;
    width: 100%;
    padding: 10px 0px;
}

nav.navbar a { 
    font-size: 22px;
    text-decoration: none;
    color: paleturquoise;
    line-height: 36px;
}

nav.navbar ul {
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

nav.navbar li {
    border-bottom: 2px solid paleturquoise;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

nav.navbar li:last-child {
    border-bottom: none;
    border-right: none;
}

.active {font-weight: 600;
}

.small-image {
    width: 100%;

}

@media(min-width: 768px) {
    .container {
        background-color: dodgerblue;
        width: 750px;
        margin: 0px auto;
    }

    nav.navbar li {
        display: inline-block;
        border-bottom: none;
        border-right: 2px solid;
        padding: 0px 10px;
    }

}


@media(min-width: 992px) {
    .container{ 
        background-color: plum;
        float: left;
    }
}
