.container {
    background-color: red;
}

@media(min-width: 768px) {
    .container {
        background-color: dodgerblue;
    }
}

@media(min-width: 992px) {
    .container{ 
        background-color: plum;
    }
}
