

body { 
    margin: 0;
}


.floater-section {
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.container {
    height: 100px;
}

.clearfix {
    clear: both;
}
  
/******* NAVIGATION BAR ********/

nav.navbar {
    width: 100%;
    padding: 10px 0px;
    float: left;
}

nav.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
   
  }
  
  nav.navbar li {
    float: center;
  }
  
  nav.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
  }
  
  nav.navbar li a:hover {
    background-color: #111;
  }  

/***************SMALL SCREENS*****************/
@media (min-width: 450px) {
    .container {
        width: 440px;
    }

    .small-width-25 {
        width: 25%;
    }

    .small-width-33 {
        width: 33.333%;
    }

    .small-width-50 {
        width: 50%;
    }

    .small-width-66 {
        width: 66.6666%;
    }

    .small-width-75 {
        width: 75%;
    }

    .small-width-100 {
        width: 100%;
    } 


    li {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        }
   
   
}


/***************MEDIUM SCREENS*****************/
@media (min-width: 768px) {
    .container {
        width: 760px;
    }
    
    .med-width-25 {
        width: 25%;
    }
    
    .med-width-33 {
        width: 33.3333%;
    }

    .med-width-50 {
        width: 50%;
    }

    .med-width-66 {
        width: 66.6666%;
    }

    .med-width-75 {
        width: 75%;
    }

    .med-width-100 {
        width: 100%;
    }


}

/***************LARGE SCREENS*****************/
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
    .large-width-25 {
        width: 25%;
    }
    
    .large-width-33 {
        width: 33.3333%;
    }

    .large-width-50 {
        width: 50%;
    }

    .large-width-66 {
        width: 66.6666%;
    }

    .large-width-75 {
        width: 75%;
    }

    .large-width-100 {
        width: 100%;
    }


}